<app-alert [message]="'Welcome to get page'" [alertType]="'Success'" ></app-alert>
<div class="row">
    <div class="col-2">
        <div class="btn btn-success" (click)="getAllUser()">Get Users</div>
        <div class="btn btn-success" (click)="getAllCustomer()">Get All Customers</div>
    </div>

    <div class="col-3">
        <select class="form-select">
            @for (item of userList; track $index) {
                <option>{{item.name}}</option>
            }
        </select>
    </div>
</div>